---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="cum"
	pubDate={new Date('August 08 2021')}
	heroImage="/Screenshot 2025-04-10 143219.png"
>
	<p>
		i am courier and im gay
	</p>

	<p>
https://muddymorals.neocities.org/
	</p>

	<p>

	</p>

	<p>

	</p>

	<p>

	</p>
</Layout>
