---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello, cunts!</h1>
			<p>disgraced user Courier here. i hate toyhou.se and always have. i'll give this domain to any cunt who can make a legal distcint toyhouse copycat
				
			</p>
			<p>
				
			</p>
			<p>i fucking hate toyhouse</p>
			<ul>

			</ul>
			<p>
<Layout
	title="awesome"
	description="cum"
	pubDate={new Date('August 08 2021')}
	heroImage="public/Screenshot 2025-04-10 143219.png"
>
			</p>
			<p>

			</p>
		</main>
		<Footer />
	</body>
</html>
